@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 500;
}
 
.wrapper-container-about{
    margin: 80px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

.info-text{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 32px;
    color: #ff0000;
}

.chef-container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 40px 0 40px;
}

.chef-info-container{
    display: flex;
    flex-direction: column;
}

.chef-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chef-sm-page{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

img.about-us-img{
    width: 400px;
    height: 400px;
    border-radius: 8px;
}

.h1-about{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase; 
    color: #25282B;
 }

.para-about{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    color: #25282B;
    margin-top: 0;
}

button.about{
    font-family: 'Inter';
    font-weight: 500;
    width: 88px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 30px;
    cursor: pointer;
}