@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
  }

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

body{
    height: 100vh;
    margin: 32px 60px;
}

.main-container{
    margin: 100px 60px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1{
   font-family: 'Inter';
   font-weight: 900;
   font-size: 64px;
   text-transform: uppercase; 
   color: #ff0000;
}

.para{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    color: #000;
    margin-top: 24px;
}

.menu-btn{
    margin-top: 44px;
    width: 320px;
    height: 48px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 30px;
}

@media (max-width: 600px) {

    .main-container {
    margin: 80px 24px 40px 24px;
    }

    .h1 {
        font-size: 40px;
    }

    .para {
        font-size: 16px;
    }

    div.text-container {
        text-align: center;
    }
}

@media (max-width: 900px) {

    .main-container {
    margin: 100px 24px 0 24px;
    }

    .para {
        font-size: 18px;
        font-weight: 600;
    }

    div.text-container {
        text-align: center;
    }
}
