@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 500;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    margin: 0;
    width: auto;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

li.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 48px;
    padding: 8px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}